

:root{
    /* size */
    font-size: 12 px;
    
    /* color */
    --primary-color: #24aa9f;
    --menu-text-color: white;
    
}


#header {
    position: fixed;
    top: 0;
    left: 0;;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 100;
}
#title-name{
    color: var(--menu-text-color);
}

.profil{
    display: none;
}
.page{
    position:absolute;
}

.comp-title{
    color: var(--primary-color);
}


/* footer */

#footer{
    
}